@media only screen and (max-width : 1199px) {
  .contain {
    width: 970px
  }    
  .top-conts-b {
    margin-left: 35px;
  }
  .slide-txts {
    max-width: 800px;
    padding-left: 100px;
  }
  .top-slider,
  .top-slide {
    height: 500px;
  }
  .slide-cont {
    top: 109px;
  }
  .slide-txt-1 {
    font-size: 35px;
  }
  .slide-txt-2 {
    font-size: 20px;
  }
  .prod-item {
    width: 33.333%;
  }
  .prod-item:nth-child(5),
  .prod-item:nth-child(9) {
    border-left: 1px solid #E8E8E8;
    border-left: none;
  }
  .prod-item:nth-child(4),
  .prod-item:nth-child(7),
  .prod-item:nth-child(10) {
    border-left: 1px solid #E8E8E8;
  }
  .works-slider .slick-arrow {
    bottom: 111px;
  }
  .works-l {
    padding-left: calc(((100vw - 970px) / 2) - 0px);
    flex: none;
  }

  .works-controls {
    width: 100%;
    padding-left: 100px;
    margin-left: 50px; 
  }

  .works-r-img-w {
    width: 100%;
  }

  .works-txts {
    padding-left: 15px;
  }

  .works-slider .slick-next {
    left: calc(((100vw - 970px) / 2) + 78px)
  }
  .works-slider .slick-prev {
    left: calc(((100vw - 970px) / 2) + 16px)
  }
  .servs-item {
    width: calc(25% - 9px);
    padding: 35px 19px 0px 19px;
  }
  .about-r-inn {
    padding-left: 120px;
  }
  .customers-slider {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    .slick-list {

    }    

  }
  .customers-slide {
    margin-left: 0;      
  }
  .customers-slider .slick-next {
    right: -30px;
  }
  .footer1-col-1 {
    margin-right: 15px;
  }
  .footer1-col-2 {
    margin-right: 11px;
  }
  .footer1-col-2,
  .footer1-col-3 {
    padding: 20px 0 20px 20px;
  }
  .footer1-li {
    width: 159px;
  }
  .footer1-w {      
    align-items: flex-start;
  }
  .foot-2-conts-b {
    margin-right: 38px;
  }
  .prod-item {
    height: 398px;
  }

  .prod-col-right {
    width: 100%;
  }
  .prod-col-left {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 33.333333%;
  }
  .prod-item {
    &:nth-child(10) {
      display: none;
    }    
    &:nth-child(4),
    &:nth-child(7) {
      border-left: 1px solid #e8e8e8  
    }
    &:nth-child(8) {
      border-left: none;
    }
  }
  .prod-more {
    border-left: 1px solid #e8e8e8
  }
  .prod-item.empty {
    display: block;
  }
  .products-w {
    position: relative;   
    align-items: flex-start; 
  }
  .news-content {
    width: 100%;
    display: flex;   
    flex-wrap: wrap;           
    justify-content: space-between;
  }



  .show-1199 {
    .news-form-tit-w {
      display: flex;  
      justify-content: center;
    }
    .news-btn {
      height: 50px;
      width: 160px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 25px;
    }
    .news-item {
    width: calc(50% - 17px);
  }
    .news-form-tit {
    font-weight: bold;
    font-size: 35px;
    line-height: 1.2;
    text-align: center;
    color: black;
    display: inline-block;
    margin-bottom: 41px;
    position: relative;
    text-align: center;
    max-width: 100%;
    &:before {
      right: -15px;
      top: -0px;
      left: auto;
      width: 8px;
      height: 8px;
    }
  }
  }

  




  .servs {
    padding-top: 39px;
  }
  .news-l {
    background: #F9F9F9;
  }
  .scard-chars {
    padding: 31px 15px 27px 41px;
  }
  .tabs_content {
    padding: 30px;
  }
  .tabs-control {

  }
  .tabs_control_item {
    &:nth-child(1) {
      padding-left: 30px;

    }    
  }




  .price-content {
    .columns {

      flex-wrap: wrap;
    }
    .colmn-r {
      width: 100%;
      margin-left: 0;
    }
  }


}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .contain {
    width: 750px 
  } 
  .slide-txts {
    padding-left: 0;
  }   
  .top-mnu-li-a {
    font-size: 12px;
  }
  .top-conts-txts {
    display: none;
  }  
  .top-w {    
    justify-content: flex-end;
  }
  .top-btn {
    margin-left: 0;
  }
  .logo {
    margin-right: auto;
  }
  .top-conts-b {
    margin-left: 0;
    margin-right: 40px;
  }
  .slide-txt-1:before {
    width: 10px;
    height: 10px;
    left: -16px;
    top: -12px;
  }
  .slide-txt-1 {
    max-width: 550px;
  }
  .slide-cont {
    top: 126px;
  }
  .prod-item {
    width: 50%;
    &:nth-child(4),    
    &:nth-child(7) {
      border-left: 1px solid #E8E8E8;
    }
  }

  .servs-w {    
    flex-wrap: wrap;
  }
  .servs-item {
    width: calc(50% - 5px);
    margin-bottom: 10px;
  }
  .works-txts {
    padding-left: 0;
  }
  .works-l {
    padding-left: calc(((100vw - 750px) / 2) - 0px);
    padding-right: 50px;
  }
  .works-r {
    background: none;
  }
  .works-r-img-w {

  }
  .top-slider .slick-arrow {
    top: auto;
    bottom: 34px;
  }
  .works-slider .slick-next {
    left: calc(((100vw - 750px) / 2) + 56px);
  }
  .works-slider .slick-prev {
    left: calc(((100vw - 750px) / 2) + 0px);
  }
  .h2,
  .h2-wh-left {
    font-size: 30px;
  }
  .rews-slider {
    display: none;
  }
  .rews-slider-min {
    margin-top: 0;
    width: 100%;
  }
  .rews-img-w.two {
    display: none;
  }
  .rews-slider-min .rews-img-w {
    width: 51px;
    height: 51px;
    opacity: 1;
    margin-right: 19px;
  }
  .rews-slider-min .rews-name-dol, .rews-slider-min .rews-cont {
    display: block;
  }
  .rews-slider-min .rews-rating {
    display: flex;
  }
  .rews-slider-min {
    .slick-prev {
      left: 15px;
    }    
    .slick-next {
      right: 15px;
    }
  }
  .profit-w {    
    flex-wrap: wrap;    
    justify-content: space-between;
  }
  .profit-it {
    width: calc(50% - 15px);
    margin-right: 0;
    margin-bottom: 40px;
  }
  .discounts {
    margin-top: 28px;
  }
  .discounts-slider {
    .slick-arrow {
      top: auto;
      bottom: -53px;
    }
    .slick-dots {
      bottom: -46px;
    }
    .slick-list {       
      box-shadow: rgba(#000, 0.2) 0px 5px 50px;
    }
  }
  .discounts-slide {
    margin: 0;
  }
  .discounts-slider-w:before {
    display: none;
  }
  .about {
    margin-top: -20px;
  }
  .about-w {  
    flex-wrap: wrap;
  }
  .about-r {
    width: 100%;
  }
  .about-l {
    width: 100%;
  }
  .about-r-inn {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding: 50px;
    height: auto;
  }
  .customers {
    margin-top: 51px;
  }
  .customers-slider {
    max-width: 600px;
  }
  .customers-slide {
    height: 69px;
    svg {
      max-height: 14px;
    }
  }
  .customers-slider .slick-dots {
    bottom: -30px;
  }
  .foot-2-conts-txts {

  }
  .foot2-w {  
    flex-wrap: wrap;
  }
  .footer1-w {  
    flex-wrap: wrap;
  }
  .footer1-col-1,
  .footer1-col-2, .footer1-col-3 {
    width: 100%;
    margin-right: 0;
  }

  .footer1-col-2 {
    margin-bottom: 40px;
  }

  .footer1-col-1 {
    display: flex;            
    justify-content: flex-end;                  
    align-items: center;
  }
  .logo-2 {
    margin-right: auto;
  }
  .footer1-col-2, .footer1-col-3 {
    padding: 39px 34px 25px 40px;
  }
  .foot-2-conts-b {
    width: 100%;
    margin-right: 0;
  }
  .foot-2-conts-b-col {  
    width: calc(100% - 210px);
    flex-wrap: wrap;
  }
  .foot-2-conts-b-2 {
    margin-left: 0;
  }
  .foot-2-conts-b {
    margin-bottom: 19px;
  }
  .foot-btn {
    margin-left: auto;
    flex: none;
  }
  .foot-2 {
    padding: 30px 0;
  }
  .foot-2-conts-txt-2 {
    max-width: 100%;
  }
  h1 {
    font-size: 35px;
    &:before {
      width: 10px;
      height: 10px;
      top: 0;
      right: -15px;
    }
  }
  .ourworks-item {
    width: calc(50% - 30px);
    &:nth-child(15) {
      display: none;
    }      
    &:hover {

    }
  }
  .servs {
    margin-top: 80px;
  }
  .scard-w {    
    flex-wrap: wrap;
  }
  .scard-l,
  .scard-r {
    width: 100%;
    margin-left: 0;
  }
  .scard-r {
    margin-top: 30px;
  }
  .scard-chars {
    table {

    }
    td {
      &:nth-child(2) {
        width: 70px;
        text-align: right;
      }
    } 
  }  
  .scard-tabs {
    margin-top: 30px;
  }
  .tabs-control {    
    flex-wrap: wrap;
    padding: 0;
  }
  .tabs_control_item {
    width: 100%;
    padding: 0 30px;
    border-bottom: 3px solid #fff;
    margin-right: 0;
  }
  .tabs_control_item.active .tabs_control_link {
    font-size: 17px;
  }

  .tabs-control {
    display: none;
  }
  .accordion-title {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 30px;
    background: #F9F9F9;
    border-bottom: 3px solid #fff;
    font-size: 17px;
    font-weight: 600;    
    justify-content: space-between;    
    &:after {
      content: "";
      display: block;      
      width: 30px;
      height: 5px;
      background: url("../img/arrow-accord.svg") $nr center;      
      transition: 0.5s;
    }  
    &.active {
      &:after {
        transform: rotate(180deg);
      }
    }
  }
  .accordion-contentt {
    padding: 30px;
  }
  .tabs_content {
    padding: 0;
  }
  .tabs_content_item {
    display: block;
  }
  .scard-tabs-tables-w {    
    flex-wrap: wrap;
    table {
      width: 100%;
    }
  }
  .accordion-contentt {
    display: none;
    &.active {
      display: flex;  
      align-items: flex-start;
    }
  }
  .columns-servs { 
    flex-wrap: wrap; 
    .colmn-r {
      margin-left: 0;
      width: 100%;
    }
  }
  .rourworks-w {
    display: flex;   
    justify-content: space-between; 
    .ourworks-item {
      width: calc(50% - 5px);
      &:nth-child(3) {
        display: none;
        height: 166px;
      }
    }
  }


  .rbanners-slider {
    margin-bottom: 80px;
    .slick-arrow {
      top: auto;
      bottom: -37px;
      position: absolute;
      z-index: 12;
      width: 30px;
      height: 24px;
      border: none;
      background: none;
      font-size: 0;
      background: url('../img/slider-arrow-red.svg') no-repeat 0 0;
    }
    .slick-prev {
      left: 0px; 
    }
    .slick-next {
      right: 0px;
      transform: rotate(180deg);
    }


    .slick-dots {
      position: absolute;
      bottom: -29px;
      width: 100%;    
      display: flex;    
      justify-content: center;
      z-index: 12;    
      align-items: center;
      li {
        font-size: 0;
        background: none;        
        margin: 0 5px;
        button {
          font-size: 0;
          background: none;
          width: 4px;
          height: 4px;
          background-color: #E8E8E8;        
          border-radius: 50%;
          padding: 0;
        }
        &.slick-active {
          button {
            height: 8px;
            width: 8px;
            background: transparent !important;
            border: 2px solid #E8E8E8 !important;
          }   
        }
      }
    }

  }

.columns-snew {
          flex-wrap: wrap;
}
.columns-snew .colmn-r {
  margin-left: 0;
  width: 100%;
}


} 

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .contain {
    width: 660px;
  }
  .products-form-tit {

  }
  .works-r-img-w {
    width: 362px;
    height: 281px;
  }
  .top-2 {
    display: none;
  }
  .logo {
    margin-left: 31px;
  }
  .top-mnu {
    padding-left: calc(((100vw - 660px) / 2) - 0px);
    padding-top: 19px;    
  }
  .top-w {
    &.bef {

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: #FFF;
      }  
    } 
  }  
  .top-mnu-li {
    margin-bottom: 18px; 
  }
  .top-mnu-li-a {
    color: #000;
    font-size: 14px;
    padding: 0px 0;    
    height: auto;
    &.active {
      border: none;
    }
  }
  .top-mnu-li {
    &._parent {
      .top-mnu-li-a {   
        display: inline-block;
        width: auto;    
        position: relative;
        padding-right: 22px;
        &.on {
          &:before {
            transform: rotate(180deg);
          }
        }
        &:before {
          content: "";
          display: block;
          width: 10px;
          height: 7px;
          background: url("../img/arr-bot-mnu.svg") $nr 0 0;
          position: absolute;
          right: 0;
          top: calc(50% - 3.5px);
        }
        &:hover {
          &:before {
            background-image: url("../img/arr-bot-mnu-red.svg");
          }
        }          
      }
    }
  }
  .prod-mnu-b {
    display: none;
  }

  .top-child-mnu {
    position: static;
    background: #F9F9F9;
    padding: 24px 30px 20px 0;
    &.on {
      display: block;
      margin-bottom: 19px;
      margin-top: 15px;
    }
  }
  .top-child-mnu li a {
    color: #000;
    font-weight: 600;
    padding: 8.8px 0;
    padding-left: 30px;
    &.active {
      position: relative;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 23px;
        background: #E73237;
        top: calc(50% - 12px);
        left: 0;
      }  
    }
  }
  .slide-cont {
    top: 111px;
  }
  .products {
    margin-top: 30px;
  }
  .prod-item-img-w {
    height: 139px;
  }
  .products-form-input-w {
    margin-bottom: 5px;
  }
  .prod-item {
    height: 400px;
  }
  .slide-txt-1:before {
    left: -12px;
    top: -8px;
  }
  .top-slider {
    .slick-next {
      right: calc(50% - 100px);
    }
    .slick-prev {
      left: calc(50% - 100px);; 
    }
  }

  .prod-item {
    &:nth-child(11),  
    &:nth-child(12) {
      display: none;
    }
  }
  .servs {
    padding-top: 58px;
    .h2.show-768 {
      max-width: 441px;
      display: inline-block;
    }
  }
  .h2:after {
    top: -1px;
    right: -11px; 
  }
  .servs-w {
    margin-top: -7px;
  }
  .servs-item {
    padding: 35px 26px 0px 35px;  
    height: 152px;
  }
  .all-servs-wrap {
    margin-top: 22px;
  }
  .works-l {
    padding: 52px 20px 70px 20px;
    padding-left: calc(((100vw - 660px) / 2) - 0px);
    margin-top: 0;
  }
  .h2-wh-left:after {
    top: -6px;
    left: -12px;
  }
  .works-l {
    width: calc(100% - 30px);
    height: 430px;
  }
  .works-r {
    height: auto;    
  }
  .works-txt-2 {
    display: flex;    
    align-items: flex-start;
    margin-top: 27px;
    position: relative;
    p {
      width: 300px;
      flex: none;
      margin-right: -12px;
    }
  }
  .works-controls {
    position: absolute;
    margin-top: 0;
    bottom: 68px;
    left: 115px;
    left: calc(((100vw - 660px) / 2) + 87px);
    padding-left: 0;
    max-width: 100px;
    padding-right: 0;
  }
  .see-works {
    line-height: 1.2;
  }
  .works-r-img-w {
    flex: none;    
    overflow: visible;
    img {
      margin-top: 3px;
      margin-left: 40px;
    }
  }
  .works-slide {
    padding-bottom: 100px;
  }
  .works-txt-1 {
    margin-top: -14px;
  }
  .dot {
    bottom: -10px;
  }
  .works-slider .slick-arrow {
    bottom: 211px;    
  }
  .works-slider .slick-next {
    left: calc(((100vw - 660px) / 2) + 53px);
  }
  .works-slider .slick-prev {
    left: calc(((100vw - 660px) / 2) + -1px);  
  }


  .rews-slider-min .rews-slide-inn {
    background-color: #FFF;    
  }
  .rews-slider-min {    
    .slick-list {
      box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.2);
    }
  }
  .rews-slider-w {
    margin-top: 0;
  }

  .rews-slider-min .slick-prev {
    left: -20px;
  }
  .rews-slider-min .slick-next {
    right: -20px;
  }

  .discounts-slider {
    .slick-arrow {}
    .slick-prev {
      left: calc(50% - 100px);
    }
    .slick-next {
      right: calc(50% - 100px);
    }
  }
  .customers-slider {
    max-width: 100%;
    .slick-list {
      margin-left: -15px;
      margin-right: -15px;
    }
    .slick-slide {


    }
    .slick-arrow {}
    .slick-prev {
      left: -20px;
    }
    .slick-next {
      right: -20px;
    }
  }
  .conts-w {  
    flex-wrap: wrap;
  }
  .conts-l {
    width: 100%;
  }  

  .conts-r {
    margin-top: -30px;    
    width: 100%;    
    justify-content: flex-end;
    display: flex;
  }
  .conts-r-inn {
    width: calc(100% - 30px);
    margin-left: 0;
    padding: 42px 51px;
    height: auto;
    .conts-b {      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }  
  .h2-wh-l {
    font-size: 30px;
  }
  .conts-content {
    margin-top: -10px;
  }
  .conts-r {
    .dot {
      bottom: -40px;
    }
    .dot-1 {
      left: 50%;
    }
    .dot-2 {
      left: 50%;
    }
    .dot-3 {
      background: #FFF;
      width: 5px;
      height: 5px;
      position: absolute;
      top: 15px;
      left: -10px;
    }
  }
  #map {

  }
  .conts-l {
    height: 410px;
    overflow: hidden;
  }
  .rews {
    margin-top: 80px;
  }
  .rews-slider-w {
    margin-top: -10px;
  }
  .rews-slider-min .rews-img-w {
    width: 53px;
    height: 53px;
  }
  .rews-slide-inn {
    padding: 53px 50px 47px 50px;
    height: auto;
  }
  .rews-slider-min .rews-slide-inn {
    height: auto;
  }
  .rews-slider-min .slick-dots {
    bottom: -35px;
  }
  .profit-it {
    display: flex;    
    align-items: center;
  }
  .profit-img-w {
    flex: none;
    margin-right: 29px;
    margin-bottom: 0;
  }
  .profit {
    margin-top: 67px;    
  }
  .profit-w {
    margin-top: -8px;
  }
  .discounts-slider-w {
    margin-top: 0;
  }
  .discounts-slide-inn img {    
    width: 100%;
    max-width: 100%;
  }
  .discounts {
    margin-top: 12px;
  }
  .discounts-slider-w {
    margin-top: -10px;
  }
  .discounts-slider .slick-dots {
    bottom: -35px;
  }
  .discounts-slider .slick-arrow {
    bottom: -44px;
  }
  .about {
    margin-top: -50px;
  }
  .about-l {
    height: 521px;
  }
  .h2-left {
    font-size: 30px;
  }
  .about-r-inn {
    padding: 44px 50px 45px 50px;
  }
  .about-txts {
    margin-top: 24px;
  }
  .more-link {
    margin-top: 29px;
  }
  .customers {
    margin-top: 64px;
  }
  .customers-slider {
    margin-top: -10px;
  }
  .customers-slider {
    margin-top: -11px;
  }
  .customers-slider .slick-dots {
    bottom: -38px;
  }
  .hight-weight {
    margin-top: 91px;
  }
  .hight-weight-txts {
    margin-top: -10px;
  }
  .hight-weight-more {
    font-size: 14px;
    margin-top: 17px;
  }
  .conts {
    margin-top: 68px;
  }
  .conts-l {
    width: calc(100% - 30px);
  }
  .conts-r {
    margin-top: -60px;
  }
  .conts-r-inn {
    padding: 42px 49px 48px 49px;
  }
  .h2-wh-l:before {
    right: -11px;
    top: 0px;
  }
  .conts-content {
    margin-top: -18px;
  }
  .conts-b {
    margin-bottom: 22px;
  }
  .conts-txt-2 {
    max-width: 100%;
  }
  .conts-r .dot {
    bottom: -41px;
  }
  .conts-r .dot-2 {
    left: calc(50% - 27px);
  }
  .conts-r .dot-1 {
    left: calc(50% - 27px);
  }
  .footer1 {
    margin-top: -53px;
  }
  .footer1-col-1   {  
    align-items: flex-start;
    margin-bottom: 8px;
  }
  .footer1-socs {
    margin-top: 10px;
  }
  .footer1-soc {
    margin-right: 0;
    margin-left: 7px;
  }
  .footer1-tit {
    top: -14px;
  }
  .footer1-li {
    width: 210px;
  }
  .footer1-col-2, .footer1-col-3 {
    padding-bottom: 37px;
  }
  .footer1-col-3 {  
    .hide-768 {
      display: none;
    }
    .show-768 {
      display: flex;
    }
  }
  .footer1 {
    padding-bottom: 31px;
  }
  .foot-2-conts-txt-2 {
    font-size: 14px;
  }
  .foot-2-conts-b-1 .foot-2-conts-txt-2 {
    font-size: 14px;
  }
  .prod-col-left {
    width: 50%;
  }
  .prod-col-right .prod-item {
    width: 50%;
  }
  .prod-item:nth-child(10) {
    display: flex;
    border-left: none;
  }
  .prod-item {
    &:nth-child(4) {
      border-left: none;
    }
    &:nth-child(3),    
    &:nth-child(5),    
    &:nth-child(9) {
      border-left: 1px solid #E8E8E8;
    }
    &:nth-child(2) {
      border-top: 1px solid #E8E8E8;
    }    
  }
  .news-form-tit {
    font-size: 30px;
  }
  .news-l {
    margin-top: 30px;
    padding: 34px 28px 44px 28px;
  }
  .news-content {
    margin-top: -14px;
  }
  .news-btn {
    margin-top: 6px;
  }
  .servs {
    padding-top: 40px;
  }  
  .bread-w {
    margin-top: 36px;
    margin-bottom: 23px;
  }
  .ourworks-w {
    margin-top: -2px;
  }  
  .wrapper-works .footer1 {
    padding-top: 37px;
  }
  .top-banner,
  .top-banner .top-slide {
    height: 250px;
  }
  .slide-cont {
    top: 85px;
  }
  .scard-w {
    margin-top: 35px;
  }
  .scard-gal-big {
    height: 340px;
  }
  .scardord-row {
    padding: 22px 68px 26px 30px;
  }

  .scardord-img-w {
    width: 25px;
    margin-right: 20px;
    img {
      max-width: 100%;
    }
  }
  .scardord-row-2 {
    display: flex;   
    align-items: center;   
    padding: 29px 30px 30px 30px;
  }
  .scardord-btn {
    flex: none;
    width: 285px;
  }
  .scardord-price {
    margin-bottom: 0;
  }
  .scardord-price {
    font-size: 15px;
  }
  .scardord-price-span {
    font-size: 25px;
  }
  .scard-chars {
    padding: 28px 28px 29px 29px; 
  }  
  .scard-tabs {

  }
  .accordion-title {
    height: 80px;
    padding: 0 20px 0 33px;
    &.active {
      position: relative;
      &:before {
        height: 3px;
        width: 88px;
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 30px;
        background-color: $red;      
      }  
    }
  }
  .scard-desc-desc {
    width: 100%;
  }
  .accordion-contentt.active {
    display: block;
  }
  .scard-desc-gal {
    width: 100%;
    margin-top: 25px;
    margin-left: 0;
    margin-top: 27px;
  }  
  .scard-desc-gal-it {
    width: calc(100% / 6 - 100px / 6);
    margin-bottom: 0;
    height: 102px;
    img {
      max-width: 100%;
    }
  }
  .accordion-title {
    height: 82px;
  }
  .prod-items-slider {
    margin-top: -10px;
  }
  .prod-items-slider-block {
    margin-top: 27px;
  }
  .prod-items-slider .slick-dots {
    bottom: -41px;
  }
  .wrapper-card .footer1 {
    padding-top: 39px;
    margin-top: -49px;
  }
  .price-item {
    margin-bottom: 30px;
  }
  .hor-form-w {
    margin-bottom: 25px;
  }
  .hor-form-w {
    .hor-form {     
      flex-wrap: wrap; 
    }
    input[type="text"].hor-form-input-2 {
      width: calc(50% - 15px);
      margin-bottom: 21px;
    }
    .hor-form-btn-2 {
     width: calc(50% - 15px); 
   }
 }
 .hor-form-w-2 {
  padding-bottom: 35px;
}
.rbanners-slider {
  img {
    max-width: 100%;
  }
}


.accordion-content {
  padding: 30px;
}

.accordion-content {
  padding-bottom: 5px;
}
.like-h4 {
  font-size: 17px;
}
.servs-content {
  margin-top: -6px;
}
.rbanners-slider .slick-prev {
  left: calc(50% - 84px);
}
.rbanners-slider .slick-next {
  right: calc(50% - 84px);
}
.price-wrap .servs-item {
  width: calc(33.33% - 17px);
  padding: 20px 20px 0 20px;
  height: 134px;
}
.price-wrap .servs-item-title {

}
.price-wrap .servs-item-price {
  height: 52px;  
  display: flex;  
  align-items: flex-start;  
}
.price-wrap .servs-item-price {  
  flex-wrap: wrap;  
  span {
    width: 100%;
    text-align: left;
    font-size: 11px;    
    margin-top: 2px;
  }
}
.price-desc p {
  font-size: 16px;
}
.price-content table td {
  padding: 17px 10px;
  font-size: 13px;
  &:nth-child(1) {
    padding-left: 26px;  
  }
}
.price-content table tbody td:nth-child(3) {
  padding-right: 26px;
}
.price-desc {
  margin-top: -5px;
}
.price-desc p {
  margin-bottom: 23px;
}
.price-wrap {
  margin-bottom: 18px;
}
.price-content .table-w {
  margin-bottom: 29px;
}
.price-content .hor-form-w-1 {
  margin-bottom: 28px;
}
.price-content .hor-form-w-2 {
  margin-bottom: 29px;
}
.wrapper-servs .footer1 {
  padding-top: 39px;
}
.wrapper-news .footer1 {
  padding-top: 34px;
}
.news-content-2 {
  margin-top: -1px;
}
.news-art-img-w {
  width: 230px;
  height: 158px;
}
.news-art-desc {
  padding: 0 21px 0 25px;
}

.news-art-desc-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  box-orient: vertical;
}
.news-art-desc-top {
  line-height: 1.2;

  margin-bottom: 11px;
}
.news-art-desc-txt {
  margin-bottom: 9px;
}
.news-l-gray {
.news-content {
  margin-top: 15px;
}  
}

.news-l-gray {
  .news-form-tit-w {
   display: flex;   
   justify-content: center; 
 }
 .news-form-tit {  
  font-weight: bold;
  font-size: 35px;
  line-height: 1.2;
  color: black;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
  max-width: 100%;
}
.news-item {
  width: calc(50% - 17px);
}
.news-btn {
  height: 50px;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;
}
}


}

@media only screen and (max-width : 700px) {
  .contain {
    width: 530px;
  }
  .logo {
    margin-left: 21px;
  }
  .top-conts-b {
    margin-right: 34px;
  }
  .prod-item {
    height: 430px;
  }
  .works-l {
    height: auto;    
    width: calc(100% - 25px);
    padding-left: calc(((100vw - 530px) / 2) - 0px);
    padding-bottom: 0;
  }
  .works-txt-2 {    
    flex-wrap: wrap;
    margin-bottom: 0;
    p {
      width: 100%;
    }
  }
  .works-r.show-768 {
    margin-top: 100px;
    margin-bottom: -40px;
  }
  .works-r-img-w {
    width: 100%;
  }
  .works-slider .slick-arrow {
    bottom: auto;
    top: 260px;
  }
  .works-slider {
    .slick-next {
      left: calc(((100vw - 530px) / 2) + 53px);
    }
    .slick-prev {
      left: calc(((100vw - 530px) / 2) + -1px);
    }
  }
  .works-r-img-w img {
    margin-left: 45px;
  }
  .works-controls {
    bottom: auto;
    top: 274px;
    max-width: 100%;
    left: calc(((100vw - 530px) / 2) + 80px);
  }
  .footer1-li {
    width: calc(33% - 5px);
  }
  .footer1-li {
    width: 100%;
  }
  .footer1-ul {
    width: 33%;
  }
  .ourworks-item {
    width: calc(50% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .ourworks-w {
    margin-left: -10px;
    margin-right: -10px;
  }
  .ourworks-title {
    padding-right: 20px;
  }
  .scardord-row-2 {
    display: block;
  }
  .scardord-price {
    margin-bottom: 17px;
  }
  .scardord-btn {
    width: 100%;
  }
  .accordion-header {    
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-left: 48px;
    &:before {
      position: absolute;
      top: calc(50% - 2px);
      left: 15px;
      margin-left: 0;
      width: 20px;
    }
    span {
      display: block;
      width: 100%;
    }
    span.acc-price {
      text-align: left;
      margin-top: 3px;
    }
  }

  .accord-btns {  
    flex-wrap: wrap;
    .btn, .btn-o {
      width: 100%;
      margin-bottom: 10px;
    }
    .accord-btn-3 {
      width: 100%;
      margin-left: unset;  
      margin-bottom: 0;  
    }
  }
  .price-wrap .servs-item {
    width: 100%;
    height: auto;
  }
  .price-wrap .servs-item-price {
    height: auto;    
  }
  .price-wrap .servs-item-title {
    margin-bottom: 12px;
  }
  .news-art {    
    flex-wrap: wrap;
  }
  .news-art-desc,
  .news-art-img-w {
    width: 100%;
  }
  .news-art-img-w {    
  }
  .news-cat-li {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .news-cat-a {
    padding: 0 7px;
  }
  .news-cat-w {
    margin-bottom: 15px;
  }
  .news-art-desc {
    padding: 25px;
  }
  .news-art-desc-top {
    margin-bottom: 8px;
  }
  .news-art-desc-txt {
    margin-bottom: 8px;
  }
  .news-art {
    margin-bottom: 20px;
  }
} 



@media only screen and (max-width : 570px) {  
  .contain {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }


  .ordform {
    padding: 30px; 
  }
  .ordform-info {
    padding: 20px;
  }

  .products-form-tit {
    position: relative;
    .products-form-tit-more {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: url("../img/arr-bot-mnu-red.svg") $nr $rc;
      background-size: 7px;
      z-index: 2;
    }
  }

  .products-form {
    height: 0;
    opacity: 0;
    visibility: hidden;    
    transition: 0.5s;
    &.on {
      height: auto;
      opacity: 1;
      visibility: visible;
      margin-bottom: 10px;
    }
  }

  .prod-item-form {
    padding-bottom: 20px;
  }

  .top-btn-span {
    display: none;
  }
  .top-btn-icon {
    margin-right: 0;
  }
  .top-btn {
    padding: 0 10px;
    height: 40px;
  }
  .prod-item {
    width: 100%;
    height: auto;
    .btn-w100 {
      margin-top: 20px;
    }
  }  
  .prod-item {
    display: none;
    &:nth-child(1),    
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      display: flex;
    }
    &:nth-child(2),    
    &:nth-child(4),    
    &:nth-child(6) {
      border-left: 1px solid #E8E8E8;
    }
  }
  .servs-item {
    width: 100%;
    padding: 30px;
    padding-bottom: 0;
    height: 136px;
  }
  .servs-item-price {
    padding-bottom: 23px;
  }
  .works-l {
    padding-left: 15px;
  }
  .works-slider {
    .slick-arrow {
      top: 300px;
    }  
    .slick-next {
      left: calc(15px + 60px);
    }
    .slick-prev {
      left: 15px;
    }
    .works-controls {
      top: 314px;
      left: calc(15px + 80px);
    }
  }  
  .top-mnu {
    padding-left: 15px;
  }
  .prod-item {
    &:nth-child(2) {
      border-top: 1px solid #E8E8E8;
    }
  }
  .rews-slider-min .slick-prev {
    left: calc(50% - 75px)
  }
  .rews-slider-min .slick-next {
    right: calc(50% - 75px);
  }
  .rews-slider-min .slick-arrow {
    top: auto;
    bottom: -43px;
    z-index: 13;
  }
  .prod-col-left {
    width: 100%;
    position: static;
  }
  .prod-col-right {
    width: 100%;
  }
  .prod-col-right .prod-item {
    width: 100%;  
  }
  .prod-item {
    &:nth-child(6) {
      display: none;
    }    
  }
  .prod-item.empty {
    display: none;
  }
  .products-form-tit {
    width: 100%;
    max-width: 100%;
  }
  .news-form-tit {
    display: inline;
    width: auto;
  }
  .news-item {
    width: 100%;
    &:nth-child(6),    
    &:nth-child(7),    
    &:nth-child(8) {
      display: none;
    }      
  }
  .prod-item {
    &:nth-child(10) {
      display: none;
    }   
    &:nth-child(6) {
      display: flex;
    }     
  }
  .news-form-tit-w {
    justify-content: flex-start;
  }  
  .ourworks-item {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    &:nth-child(11),    
    &:nth-child(12),    
    &:nth-child(13),    
    &:nth-child(14),    
    &:nth-child(15) {
      display: none;
    }    
  }
  .ourworks-w {
    margin-left: 0;
    margin-right: 0;
  }
  .head-1-row {    
    flex-wrap: wrap;
  }
  h1 {  
    margin-bottom: 10px;  
  }
  .sort-col {    
    width: 100%;
    justify-content: flex-start;
    margin-left: 0;
  }
  .scard-mins {
    position: relative;
    height: 46px;
    overflow-x: scroll;    
  }
  .scard-min {
    height: 46px;
    min-width: 90px;
    width: calc(100% / 5 - 5px);
    margin-right: 5px;
  }
  .scard-mins-inn {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 70px);        
    justify-content: flex-start;
  }
  .scard-desc-gal {    
    flex-wrap: wrap;    
    justify-content: space-between;
  }
  .scard-desc-gal-it {    
    width: calc(33.33%);
    min-width: 70px;
    height: 86px;
    margin-bottom: 20px;
    img {
      height: 100%;
      width: auto;
    }
  }
  .prod-items-slider .slick-arrow {
    top: auto;
    bottom: -50px;
  }
  .prod-items-slider .slick-next {
    right: calc(50% - 75px);
  }
  .prod-items-slider .slick-prev {
    left: calc(50% - 75px);
  }
  .scard-download-it,
  .scard-arts-it {
    width: 100%;
    margin-bottom: 22px;    
    &:last-child {
      margin-bottom: 0;
    }
  }
  .scard-tabs-tables-w {
    .dots {
      background: none;
    }
    table {
      display: block;
      tr {
        display: block;
        margin-bottom: 20px;
      }
      td {
        display: block;
        padding-left: 0;
        padding-bottom: 0;
        &:nth-child(2) {
          text-align: left;
          padding-left: 0;
          margin-top: 8px;
        }     
      }
    } 
    tbody {
      display: block;
    }   

  }

  input[type="text"].hor-form-input,
  .hor-form-w input[type="text"].hor-form-input-2 {
    width: 100%;
    margin-bottom: 10px;
  }
  .hor-form-btn,
  .hor-form-btn-2 {
    width: 100%;
    margin-top: 15px;
  }
  .hor-form-w .hor-form-btn-2 {
    width: 100%;
  }
  .hor-form-w .hor-form {
    margin-top: 16px;
  }
  .rbanner-slide {  
    justify-content: center;
    display: flex $i;
  }
  .rbanners-slider .slick-prev {
    left: calc(50% - 143px);
  }
  .rbanners-slider .slick-next {
    right: calc(50% - 143px);
  }
  .rourworks-w {    
    flex-wrap: wrap;
    .ourworks-item {
      width: 100%;
      height: 140px;
    }
  }
  .hor-form-w {
    padding: 30px;
  }
  .price-content table {
    display: block;
    thead,
    tbody {
      display: block;
      tr {
        display: flex;
        flex-wrap: wrap;        
      }
      td {
        width: 50%; 
        padding-top: 0;
        padding-bottom: 0;       
        &:nth-child(2) {
          padding-left: 25px;
          text-align: left;
        }          
        &:nth-child(1) {          
          display: flex;
          padding-left: 25px;
          width: 100%;
        }      
      }
    }
    thead {
      td {
        display: none;
        padding: 17px 0;
        &:first-child {
          display: flex;
        }        
      }
    }
    tbody {
      tr {
        padding: 17px 0;
        &:nth-child(2n) {
          background: #F9F9F9;
        }        
      }
      td { 

        &:first-child {
          margin-bottom: 9px;
        }        
      }
    }
  }
  .price-content table tbody tr:nth-child(2n) td {
    background: none;
  }
  .price-content table tbody td:nth-child(3) {
    text-align: left;
  }
  .price-page {
   h1 {
     &:before {
       display: none;
     }
   } 
 }
 .price-desc {
  margin-top: 0;
}
.price-desc p {
  margin-bottom: 15px;
}
.price-wrap {
  margin-top: -4px;
}
}

@media (max-width : 480px) {
  .top-mnu {
    padding-left: 25px;
  }
  .slide-txt-1 {
    font-size: 25px;
  }
  .slide-txt-2 {
    font-size: 14px;
  }
  .slide-cont {
    top: 102px;
  }
  .slide-txts {
    margin-left: -5px;
  }
  .slide-txt-1 {
    margin-bottom: 25px;
  }
  .top-slider, .top-slide {
    height: 449px;
  }
  .top-slider .slick-arrow {
    bottom: 20px;
  }
  .top-slider .slick-dots {
    bottom: 27px;
  }
  .top {
    padding: 3px 0 0px;
  }
  .contain {
    padding: 0 25px;
  }
  .logo {
    margin-left: 29px;
  }
  .top-conts-b {
    margin-right: 22px;
  }
  .logo {
    width: 69px;
    margin-top: 8px;    
  }
  .products-form-tit {
    font-size: 17px;
  }
  .products-form-input-w {
    padding-top: 17px;
  }
  .prod-item-info {
    margin-top: 18px;
    margin-bottom: 2px;
  }
  .prod-item-img-w {
    height: 128px;
  }
  .prod-item .btn-w100 {
    margin-top: 18px;
  }
  .prod-item-tit {
    margin-top: 23px;
  }
  .prod-item {
    padding-bottom: 26px;
  }
  .prod-item-form {
    padding: 22px 30px 30px 29px;
    margin-bottom: 25px;
  }
  .h2, .h2-wh-left {
    font-size: 20px;
  }
  .servs {
    padding-top: 36px;
  }
  .h2:after {
    width: 5px;
    height: 5px;
    top: -2px;
    right: -9px;
  }
  .servs-w {
    margin-top: -21px;
  }
  .servs-item-title {
    font-size: 14px;
  }
  .servs-item-price {
    font-size: 15px;
  }
  .all-servs-btn {
    width: 100%;
  }
  .all-servs-wrap {
    margin-top: 0;
  }
  .works {
    margin-top: 25px;
  }
  .works-l {
    padding: 25px 20px 70px 20px;
    padding-bottom: 10px;
  }
  .works-txts {
    padding-left: 4px;
  }
  .h2-wh-left:after {
    height: 5px;
    width: 5px;
    top: -5px;
    left: -9px;
  }
  .works-l:before {
    display: none;
  }
  .works-txt-1 {
    margin-top: -22px;
    font-size: 14px;
    line-height: 1.25;
  }
  .works-txt-2 {
    margin-top: 17px;
    line-height: 1.5;    
  }
  .works-slider .slick-arrow {
    width: 40px;
    height: 40px;
    top: 301px;
  }

  .works-slider {
    .slick-prev {
      left: 25px;
    }
    .slick-next {
      left: calc(25px + 42px);
    } 
  } 
  .see-works {
    font-size: 14px;
  }
  .works-slider .works-controls {
    left: calc(25px + 58px);    
  }
  .works-r.show-768 {
    margin-top: 67px;
  }
  .works-r-img-w img {
    margin-left: 0;
  }
  .works-r-img-w {
    width:calc(100% + 45px);
    height: 261px;
  }
  .dot {
    width: 46px;
    height: 46px;
    bottom: -6px;
  }
  .dot-1 {
    left: -9px;
    &:before {
      width: 6px;
      height: 6px;
      left: 20px;
      top: 19px;
    }
    &:after {
      width: 3px;
      height: 3px;
      left: 14px;
      bottom: 14px; 
    }
  }
  .dot-2 {
    &:before {
      width: 22px;
      height: 22px; 
      left: -40px;
      bottom: -5px;
    }
    &:after {
      top: 20px;
      right: 56px;
      width: 5px;
      height: 5px;
    }
  }

  .slide-txt-1:before {
    width: 7px;
    height: 7px;
    left: -10px;
    top: -6px
  }


  .prod-item-form {
    padding-bottom: 20px;
  }


  .profit-it {
    width: 100%;
  }
  .profit-img-w {
    width: 50px;
    height: 50px;
    img {
      max-width: 20px;
    }
  }
  .discounts-slide-inn {
    width: 286px;
    margin-left: auto;
    margin-right: auto;
    img {
      width: 100%;
    }
  }
  .discounts-slider-w {
    max-width: 286px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-l {
    height: 245px;
  }

  .about-play {
    width: 70px;
    height: 70px;  
    background-size: 70px;
  }
  .h2-left {
    font-size: 20px;
  }
  .h2-left:before {
    width: 5px;
    height: 5px;
    left: -7px;
    top: -2px;
  }

  .customers-slider {
    .slick-arrow {
      top: auto;
      bottom: -45px;
    }
    .slick-prev {
      left: calc(50% - 75px);
    }
    .slick-next {
      right: calc(50% - 75px);
    }
  }
  .conts {
    margin-top: 38px;
  }
  .conts-l {
    height: 250px;
  }
  #map {
    height: 290px $i;
  }
  .conts-r {
    margin-top: -50px;
  }
  .h2-wh-l {
    font-size: 20px;
  }
  .h2-wh-l:before {
    width: 7px;
    height: 7px;
  }
  .foot-2-conts-b-col {
    width: 100%;
  }
  .foot-btn {
    width: 100%;
    margin-top: 20px;
    .top-btn-span {
      display: block;
    }
  }
  .rews {
    margin-top: 64px;
  }
  .rews-slider-min .rews-slide-inn {
    padding: 29px;
  }

  .rews-slider-min {
    .rews-rating {
      display: none;
      &.show-480 {
        display: flex;
        background: none;
        position: static;      
        justify-content: flex-start;
        padding: 0;
      }  
    }
  }

  .star {
    margin-left: 2px;
    margin-right: 2px;
    background-image: url("../img/star-red.svg");
    width: 9px;
    height: 9px;
  }

  .star-o {
    margin-left: 2px;
    margin-right: 2px;
    background-image: url("../img/star-red-o.svg");
    width: 9px;
    height: 9px;
  }
  .rews-slider-w {
    margin-top: -21px;
  }
  .rews-info {  
    align-items: flex-start;
  }
  .rews-rating {
    height: auto;
    margin-top: 6px;
  }
  .rews-cont {
    margin-top: 21px;
  }
  .rews-slider-min .rews-slide-inn {
    padding-bottom: 26px;
  }
  .rews-slider-min .slick-arrow {
    width: 20px;
    height: 16px;  
    background-size: 20px 16px;
    bottom: -34px;
  }
  .rews-slider-min .slick-dots {
    bottom: -30px;
  }
  .profit {
    margin-top: 64px;
  }


  .h2-span-2:after {
    display: none;
  }

  .h2.not {  
    .h2-span {
      display: inline;
      position: relative;
      &:before {
        content: "";
        display: block;
        width: 5px;
        height: 5px;
        background: #E73237;
        position: absolute;
        right: -9px;
        top: -3px;
      }
    }
  }
  .profit-w {
    margin-top: -23px;
  }
  .profit-it {
    margin-bottom: 21px;
  }
  .discounts {
    margin-top: 11px;
  }
  .discounts-slider-w {
    margin-top: -20px;
  }

  .discounts-slider .slick-arrow {
    width: 20px;
    height: 16px;  
    background-size: 20px 16px;
    bottom: -34px;
  }
  .discounts-slider .slick-prev {
    left: calc(50% - 75px);
  }
  .discounts-slider .slick-next {
    right: calc(50% - 75px);
  }
  .discounts-slider .slick-dots {
    bottom: -27px;
  }
  .about {
    margin-top: -90px;
  }
  .about-r-inn {
    padding: 25px 50px 26px 30px;
  }
  .about-txts {
    margin-top: 18px;
  }
  .more-link {
    font-size: 14px;
    margin-top: 19px;
  }
  .customers {
    margin-top: 36px;
  }
  .customers-slide {
    height: 52px;
  }
  .customers-slide svg {
    max-height: 11px;
  }
  .customers-slider .slick-slide {
    padding: 0 5px;
  }
  .customers-slider {
    max-width: 310px;
  }
  .customers-slider .slick-list {
    margin-left: 0;
    margin-right: 0;
  }
  .customers-slider {
    margin-top: -21px;
  }
  .customers-slider .slick-arrow {
    width: 20px;
    height: 16px;  
    background-size: 20px 16px;
    bottom: -34px;
  }
  .customers-slider .slick-dots {
    bottom: -31px;
  }
  .hight-weight {
    margin-top: 63px;
  }
  .hight-weight-txts {
    margin-top: -22px;
  }
  .hight-weight-p {
    margin-bottom: 25px;
  }
  .hight-weight-more {
    margin-top: -3px;
  }
  .conts-r-inn {
    width: calc(100% - 25px);
    padding: 26px 49px 27px 28px;
  }
  .conts-r-inn:before {
    left: auto;
    right: 10px;
  }
  .conts-l {
    width: calc(100% - 25px); 
  }
  .conts-content {
    margin-top: -23px;
  }
  .conts-b img {
    width: 22px;
  }
  .conts-txts {
    margin-left: 14px;
  }
  .conts-txt-2 {
    font-size: 14px;
  }
  .conts-b {
    margin-bottom: 19px;
  }
  .conts-r .dot-2 {
    bottom: -23px;
  }
  .conts-r .dot-1 {
    left: calc(50% - 16px);
    bottom: -23px;
  }
  .conts-r .dot-2 {
    left: calc(50% + 19px);
  }
  .conts-r .dot-2:after {
    left: -48px;
  }
  .conts-r .dot-3 {
    top: 13px;
    left: -6px;
    width: 4px;
    height: 4px;
  }
  .conts-r .dot-1:after {
    bottom: 14px;
    right: 14px;
  }
  .conts-r .dot-1:before {
    left: 20px;  
  }
  .logo-2 {
    width: 66px;
    img {
      max-width: 100%; 
    }
  }
  .footer1 {
    margin-top: -60px;
  }
  .footer1-socs {
    margin-top: 7px;
  }
  .footer1-col-3 .show-768.hide-480 {
    display: none;
  }
  .footer1-col-3 .hide-768.show-480 {
    display: flex;
    width: 100%;
  }
  .footer1-col-2 .show-480 {
    display: flex;
    width: 100%;
  }
  .footer1-col-2, .footer1-col-3 {
    padding: 28px 0px 28px 31px;
  }
  .footer1-li {
    width: 100%;
  }
  .footer1-ul {
    width: 50%;
  }
  .footer1-col-1 {
    margin-bottom: 6px;
  }
  .footer1-tit {
    left: 12px;
    padding: 4px 19px 4px 19px;
  }
  .footer1-col-2 {
    margin-bottom: 35px;
  }
  .footer1 {
    padding-bottom: 35px;
  }
  .foot-2 {
    padding: 34px 0;
  }
  .foot-btn {
    margin-top: 30px;
  }
  .footer1-col-2 .hide-480 {
    display: none;
  }
  .news-form-tit {
    font-size: 20px;
  }
  .news-l {
    margin-top: 26px;
    padding: 24px 28px 27px 28px;
  }
  .news-form-tit:before {
    right: auto;
    left: -8px;
    top: -6px;
    width: 5px;
    height: 5px;
  }
  .news-content {
    margin-top: -23px;
  }
  .news-btn {
    width: 100%;
  }

  .bread-w {
    margin-top: 25px;
    margin-bottom: 16px;
  }
  h1 {
    font-size: 25px;
  }
  h1:before {
    width: 7px;
    height: 7px;
    top: -1px;
    right: -8px;
  }
  .sort-col {
    margin-top: -7px;
  }
  .ourworks-w {
    margin-top: 4px;
  }
  .ourworks-w {
    margin-bottom: 9px;
  }
  .ourworks-page {
    padding-bottom: 25px;
  }
  .wrapper-works .footer1 {
    padding-top: 33px;
  }
  .servs {
    margin-top: 30px;
  }



  .top-banner, .top-banner .top-slide {
    height: 200px;
  }
  .slide-cont {
    top: 55px;
  }
  .bread-w  {
    ul {     
                 flex-wrap: wrap;     
      li {
        margin-bottom: 10px;      
        &:last-child {
        margin-bottom: 10px $i;          
        }
      }
    }  
  }
  .bread-w {
    margin-bottom: 6px;
  }
  .scard-gal-big {
    height: 160px;
  }
  .scardord-img-w {
    width: 33px;
  }
  .accordion-title {
    height: 60px;
  }
  .card-page .bread-w {
    margin-top: 22px;
  }
  .scard-w {
    margin-top: 22px;
  }
  .scard-mins {
    margin-right: -25px;
  }
  .scard-r {
    margin-top: 25px;
  }
  .scardord-row {
    padding: 26px 34px 26px 30px;
  }
  .scardord-img-w {
    margin-right: 23px;
  }
  .scardord-row-2 {
    padding: 22px 30px 30px 30px;
  }
  .scardord-price {
    margin-bottom: 20px;
  }
  .scardord-btn {
    height: 50px;
    font-size: 15px;
  }
  .accordion-title {
    font-size: 15px;
    padding-left: 30px;
    height: 64px;
  }
  .accordion-contentt {
    padding: 23px 30px 3px 30px;
  }
  .scard-desc-desc p {
    margin-bottom: 21px;
  }
  .tabs_content_item {    
    &:last-child {
      .accordion-title {
        height: 60px;
        border: none;
      }
    }
  }

  .scard-chars {
    .dots {
      background: none;
    }
    table {
      tr {
        display: block;
        margin-bottom: 13px;
        td {
          background: none;
          display: block;
          padding-bottom: 0;
          &:nth-child(2) {
            margin-top: 8px;
            padding-left: 0;
            text-align: left;
          }          
        }
      }
    }
  }
  .prod-items-slider {
    margin-top: -22px;
  }
  .prod-items-slider .slick-dots {
    bottom: -31px;
  }
  .prod-items-slider .slick-arrow {
    bottom: -35px;
    width: 20px;
    height: 16px;  
    background-size: 22px;
  }
  .wrapper-card .footer1 {
    margin-top: -69px;
    padding-top: 33px;
  }
  .rbanners-slider .slick-prev {
    left: calc(50% - 60px);
  }
  .rbanners-slider .slick-next {
    right: calc(50% - 60px);
  }
  .rbanners-slider .slick-arrow {
    width: 20px;
    height: 16px;    
    background-size: 20px;
    bottom: -33px;
  }
  .accord-btns .btn, .accord-btns .btn-o {
    margin-right: 0;
  }
  .accordion-content.open-content {
    margin-bottom: 4px;
  }
  .like-h4 {
    font-size: 15px;
  }
  .accordion-header {
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .accordion-header span.acc-price {
    font-size: 14px;
  }
  .accordion-header:before {
    top: 30px;
  }
  .price-item {
    margin-bottom: 21px;
  }
  .hor-form-w {
    padding: 25px 30px 30px 30px;
  }
  .hor-form-w-1 .hor-form-txt-2 {
    margin-top: 18px;
  }

  .hor-form-w .hor-form {
    margin-top: 14px;
  }

  input[type="text"].hor-form-input, .hor-form-w input[type="text"].hor-form-input-2 {
    margin-bottom: 16px;
  }

  .hor-form-btn, .hor-form-btn-2 {
    margin-top: 9px;
  }
  .hor-form-w {
    margin-bottom: 23px;
  }
  .hor-form-w-2 .hor-form-txt-2 {
    margin-top: 17px;
  }
  .accordion-content {
    padding-top: 23px;
    padding-right: 29px;
  }
  .rbanners-slider {
    margin-bottom: 60px;
  }
  .rourworks-w .ourworks-item:nth-child(3) {
    display: flex;
    height: 140px;
  }
  .wrapper-servs .footer1 {
    margin-top: 22px;
    padding-top: 32px;
  }
  .more-tbl {
  }
  .price-desc p {
    font-size: 14px;
  }
  .price-wrap {
    margin-top: -4px;
  }
  .more-tbl.show-480 {
    display: flex;
    border-top: none;
  }
  .price-content {
    table {
      tbody {
        tr {
          display: none !important;
          &:nth-child(1),        
          &:nth-child(2),        
          &:nth-child(3),        
          &:nth-child(4),        
          &:nth-child(5) {
            display: flex !important;
          }
        }
      }
      &.show-tbl {
        tbody {
          tr {                  
            display: flex !important;

          }
        }
      }
    }
  }
  .price-content table tbody td a {
    display: inline;
    img {
      display: inline;
      margin-left: 5px;
    }
    &:after {
      background: none;
    }
  }
  .news-cat-a {
    height: 23px;
    padding: 0 4px;
  }
  .news-content-2 {
    margin-top: 8px;
  }
  .news-cat-ul {
    margin-left: -5px;
    margin-right: -5px;
  }
  .news-cat-li {
    margin: 0 4px 10px 4px;
  }
  .news-cat-w {
    margin-bottom: 15px;
  }
  .news-art-img-w {
    height: 213px;
  }
  .news-art-desc-txt {    
  -webkit-line-clamp: 5;  
  line-clamp: 5;  
      line-height: 1.3;
  }
  .news-page .pagin {
    margin-top: 27px;
  }
  .news-page {
    padding-bottom: 25px;
  }

}


@media (max-width : 360px) {
  body, body > * {
    width: auto;
    min-width: 360px;
  }
  #button-up {
    min-width: unset;
  }
}